### Java-Web ###
## ignoring target file
target/
bin/
build/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.gradle/*

## log
*.log